---
import MainLayout from "@/layouts/MainLayout.astro"
import { Image, Picture } from "astro:assets"

import { getCollection } from "astro:content"

const posts = (await getCollection("posts"))
	.filter(({ data }) => (import.meta.env.PROD ? data.draft !== true : true))
	.sort((a, b) => +new Date(b.data.datePublished) - +new Date(a.data.datePublished))
---

<MainLayout title='' description=''>
	{
		posts &&
			posts.map(item => (
				<a href={`/posts/${item.slug}`}>
					<article class="max-w-xl flex flex-col gap-3">
						{item.data.ogImage && (
							<Picture
								src={item.data.ogImage}
								alt={item.data.title}
								formats={["avif", "webp"]}
								quality={"mid"}
							/>
						)}
						{item.data.ogImage && (
							<Image
								src={item.data.ogImage}
								alt={item.data.title}
								width={item.data.ogImage.width / 2}
								quality={"mid"}
								format="avif"
								densities={[1.5, 2]}
							/>
						)}
						<h2>{item.data.title}</h2>
						<p>{item.data.description}</p>
						<span>{item.data.datePublished}</span>
					</article>
				</a>
			))
	}
</MainLayout>
